<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="/javascripts/requests.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="content">
    {{{body}}}
  </div>
  <div class="modal"><h1>Restarting...</h1></div>
</body>

</html>